BODY { background-color: white;font-family:Verdana,Helvetica,Arial,sans-serif;font-size:10px;color:464646;}
TD,P,FORM,DIV,SPAN,UL,OL,LI{font-family:Verdana,Helvetica,Arial,sans-serif;font-size:10px;color:464646;}
//TEXTAREA{width:242px;height:80px;}
A:link{color:#FF6600;text-decoration:underline;}
A:visited{color:#FF6600;text-decoration:underline;}
A:hover{color:#FFFFFF;text-decoration:none;background-color:#FF6600;}
A:active{color:#FF6600;text-decoration:underline;}


A.menu_activo_listado:link{color:#FFFFFF;text-decoration:none;font-weight:bold;}
A.menu_activo_listado:visited{color:#FFFFFF;text-decoration:none;font-weight:bold;}
A.menu_activo_listado:hover{color:#FFFFFF;text-decoration:underline;font-weight:bold;}
A.menu_activo_listado:active{color:#FFFFFF;text-decoration:none;font-weight:bold;}


A.menu_sup_nav:link{color:#FF6600;text-decoration:none;font-weight:bold;font-size:14px;}
A.menu_sup_nav:visited{color:#FF6600;text-decoration:none;font-weight:bold;font-size:14px;}
A.menu_sup_nav:hover{color:#FFFFFF;text-decoration:underline;font-weight:bold;font-size:14px;}
A.menu_sup_nav:active{color:#FF6600;text-decoration:none;font-weight:bold;font-size:14px;}


A.box{font-size:9px;color:#EEEEEE;text-decoration:none;}
A.box:visited{color:99FF33;text-decoration:none;}
A.box:hover{color:99FF33;text-decoration:none;}
.box{font-size:9px;}

.box_sel{font-size:10px;}
A.box_sel:link{font-size:10px;color:EB7E15;text-decoration:none;}
A.box_sel:visited{color:45B2CD;text-decoration:none;}
A.box_sel:hover{color:45B2CD;text-decoration:none;}
A.box_sel:active{color:45B2CD;text-decoration:none;}


A.menu{color:#6699CC;text-decoration:none;}
A.menu:visited{color:#6699CC;text-decoration:none;}
A.menu:hover{color:#9FB7DD;text-decoration:none;background-color:white;}
//.menu{font-size:14px;font-weight:bold;font-family:courier;color:white;}

A.menu_sel{color:#FF6600;text-decoration:none;}
A.menu_sel:visited{color:#FF6600;text-decoration:none;}
A.menu_sel:hover{color:#FF6600;text-decoration:none;}
.menu_sel{font-size:14px;font-weight:bold;font-family:courier;color:#FF6600;}


DIV.info_start{color:0099cc;font-weight:bold;width:280px;}
DIV.info_content{width:455px;}
.tit{color:#6699CC;}
.bb{color:0099cc;font-weight:bold;}
.color_blanco{color:#6699CC;}
I{color:#6699CC;font-weight:bold;font-size:14px;}
I.gestion{color:#FF6600;font-weight:bold;font-size:9px;}
B{color:#FF6600;font-size:11px;}
B.gestion{color:#FFFFFF;font-size:9px;}
B.gestion2{color:orange;font-size:9px;}
.azul{color:#6699CC;}
.calida{color:orange;}

.bg_color_0{background-color:#EEEEEE;}
.bg_color_1{background-color:#EEEEEE;}
.bg_color_2{background-color:white;}
.bg_color_3{background-color:white;}
.bg_color_4{background-color:white;}
.bg_color_5{background-color:white;}
.bg_color_6{background-color:#FF6600;}
.bg_color_7{background-color:#999999;}
