BODY { background-color: white;font-family:Trebuchet MS,Trebuchet, Verdana,Helvetica,Arial,sans-serif;font-size:13px;color:#333333;}
TD,P,FORM,DIV,SPAN,UL,OL,LI{font-family:Trebuchet MS,Trebuchet, Verdana,Helvetica,Arial,sans-serif;font-size:13px;color:#333333;}
//TEXTAREA{width:242px;height:80px;}


TD.menu{background-color:#000000;color:#FFFFFF;font-size:11px;font-family:Trebuchet MS,Trebuchet, Verdana,Helvetica,Arial,sans-serif;}
TD.menu_activo{background-color:#66cc00;color:#000000;font-size:11px;font-family:Trebuchet MS,Trebuchet, Verdana,Helvetica,Arial,sans-serif;}
TD.copy{font-size:10px;font-family:Trebuchet MS,Trebuchet, Verdana,Helvetica,Arial,sans-serif;}
TD.idioma{color:#FFFFFF;font-size:11px;font-family:Trebuchet MS,Trebuchet, Verdana,Helvetica,Arial,sans-serif;}

a.gris_claro:link { color: #FFFFFF;  text-decoration: none}
a.gris_claro:visited {  color: #FFFFFF; text-decoration: none}
a.gris_claro:hover {  color: #FFFFFF; text-decoration: none}
a.gris_claro:active {  color: #FFFFFF; text-decoration: underline}

.naranja{color:#FF6600;}
.verde{color:#66cc00;}
.crema{color:#333333;}

.tam_h2{color:#000000;font-size:25px;font-weight:bold}
.tam_h3{color:#000000;font-size:18px;}
.amarillo_cuadros_tam_h3{background-color:#ffff99;font-size:18px;color:#000000;}
.gris_cuadros_tam_h3{background-color:#999999;font-size:18px;color:#000000;}
.tam_h3_white{color:#FFFFFF;font-size:18px;}


.amarillo_cuadros{background-color:#ffff99;color:#000000;}
.verde_cuadros{background-color:#ccff99;color:#000000;}
.violeta_cuadros{background-color:#ccccff;color:#000000;}
.naranja_cuadros{background-color:#ff9933;color:#000000;}

A:link{color:#0000ff;text-decoration:underline;}
A:visited{color:#0000ff;text-decoration:underline;}
A:hover{color:#FFFFFF;text-decoration:none;background-color:#0000ff;}
A:active{color:#0000ff;text-decoration:underline;}

A.sin_clase:link{color:#000000;text-decoration:none;}
A.sin_clase:visited{color:#000000;text-decoration:none;}
A.sin_clase:hover{color:#000000;text-decoration:underline;background-color:#ccccff;}
A.sin_clase:active{color:#000000;text-decoration:none;}


A.blanca_verde_underline:link{color:#FFFFFF;text-decoration:underline;}
A.blanca_verde_underline:visited{color:#FFFFFF;text-decoration:underline;}
A.blanca_verde_underline:hover{color:#66cc00;text-decoration:none;background-color:#FFFFFF;}
A.blanca_verde_underline:active{color:#FFFFFF;text-decoration:underline;}

A.blanca_verde_none:link{color:#FFFFFF;text-decoration:none;}
A.blanca_verde_none:visited{color:#FFFFFF;text-decoration:none;}
A.blanca_verde_none:hover{color:#66cc00;text-decoration:none;background-color:#FFFFFF;}
A.blanca_verde_none:active{color:#FFFFFF;text-decoration:none;}

A.verde_blanca_underline:link{color:#66cc00;text-decoration:underline;}
A.verde_blanca_underline:visited{color:#66cc00;text-decoration:underline;}
A.verde_blanca_underline:hover{color:#FFFFFF;text-decoration:none;background-color:#66cc00;}
A.verde_blanca_underline:active{color:#66cc00;text-decoration:underline;}

A.verde_blanca_none:link{color:#66cc00;text-decoration:none;}
A.verde_blanca_none:visited{color:#66cc00;text-decoration:none;}
A.verde_blanca_none:hover{color:#FFFFFF;text-decoration:none;background-color:#66cc00;}
A.verde_blanca_none:active{color:#66cc00;text-decoration:none;}


A.negra_verde_underline:link{color:#000000;text-decoration:underline;}
A.negra_verde_underline:visited{color:#000000;text-decoration:underline;}
A.negra_verde_underline:hover{color:#66cc00;text-decoration:none;background-color:#000000;}
A.negra_verde_underline:active{color:#000000;text-decoration:underline;}

A.negra_verde_none:link{color:#000000;text-decoration:none;}
A.negra_verde_none:visited{color:#000000;text-decoration:none;}
A.negra_verde_none:hover{color:#66cc00;text-decoration:none;background-color:#000000;}
A.negra_verde_none:active{color:#000000;text-decoration:none;}


A.menu_sup_nav:link{color:white;text-decoration:none;font-weight:bold;font-size:14px;}
A.menu_sup_nav:visited{color:white;text-decoration:none;font-weight:bold;font-size:14px;}
A.menu_sup_nav:hover{color:white;text-decoration:underline;font-weight:bold;font-size:14px;background-color:orange;}
A.menu_sup_nav:active{color:white;text-decoration:none;font-weight:bold;font-size:14px;}


A.box{font-size:9px;color:#EEEEEE;text-decoration:none;}
A.box:visited{color:99FF33;text-decoration:none;}
A.box:hover{color:99FF33;text-decoration:none;}
.box{font-size:9px;}

.box_sel{font-size:10px;}
A.box_sel:link{font-size:10px;color:EB7E15;text-decoration:none;}
A.box_sel:visited{color:45B2CD;text-decoration:none;}
A.box_sel:hover{color:45B2CD;text-decoration:none;}
A.box_sel:active{color:45B2CD;text-decoration:none;}


A.menu{color:#6699CC;text-decoration:none;}
A.menu:visited{color:#6699CC;text-decoration:none;}
A.menu:hover{color:#9FB7DD;text-decoration:none;background-color:white;}
//.menu{font-size:14px;font-weight:bold;font-family:courier;color:white;}

A.menu_sel{color:#ccff00;text-decoration:none;}
A.menu_sel:visited{color:#ccff00;text-decoration:none;}
A.menu_sel:hover{color:#ccff00;text-decoration:none;}
.menu_sel{font-size:14px;font-weight:bold;font-family:courier;color:#ccff00;}


DIV.info_start{color:0099cc;font-weight:bold;width:280px;}
DIV.info_content{width:455px;}
.estrella{color:red;}
.bb{color:0099cc;font-weight:bold;}
.color_blanco{color:#6699CC;}
I{color:#6699CC;font-weight:bold;font-size:14px;}
I.gestion{color:#orange;font-weight:bold;font-size:12px;}

B.gestion{color:#FFFFFF;font-size:9px;}
B.gestion2{color:orange;font-size:9px;}
.azul{color:#6699CC;}
.calida{color:orange;}

.bg_color_0{background-color:#3399cc;}
.bg_color_1{background-color:#EEEEEE;}
.bg_color_2{background-color:#66CCFF;}
.bg_color_3{background-color:white;}
.bg_color_4{background-color:white;}
.bg_color_5{background-color:white;}
.bg_color_6{background-color:orange;}
.bg_color_7{background-color:#999999;}
.bg_color_8{background-color:#0273BD;}
